/* all table leements */
:root,
#fic-table {
    --rdt-cell-padding-x: 6px;
    --rdt-header-height: 36px;
    --rdt-color-text-primary: var(--color-foreground);
    --rdt-color-bg: var(--color-background);
    --rdt-color-header-bg: var(--color-background);
    --rdt-color-striped: var(--gs-100);
    --rdt-color-divider: var(--gs-200);
    --rdt-color-highlight: var(--gs-025);
    --rdt-color-selected: var(--gs-050);
    --rdt-border-radius: 8px;
    --rdt-font-size: 12px;
}
.rdt_cellBaseHead[data-column-id="visit"] {
    padding-right: 18px;
  }
.rdt_TableCol_Sortable.rdt_columnSortable.rdt_columnSortableEnabled:hover span {
    opacity: .7 !Important;
}

#fic-table .rdt_filterContainer {
    position: absolute;
    right: 0;
    top: 0;
}
.rdt_TableCell a {
    color: var(--color-shadow);
}
    
#fic-table .rdt_row,
#fic-table .rdt_row .rdt_TableCell,
#fic-table .rdt_pagination,
#fic-table .rdt_noData{
    background-color: var(--color-background)!important;
    border-color: transparent;
}
#fic-table .rdt_rowStriped,
#fic-table .rdt_rowStriped .rdt_TableCell{
    background-color: rgba(var(--color-inputs-rgb),.5)!important;
}
/* stupid ass column filter labels */
.rdt_TableCol_Sortable.rdt_columnSortable[data-column-id="rating"] + .rdt_filterContainer > .rdt_filterPanel::before {
    content: "Filtering: Select 0 for unrated fics; -1 for blocked fics, and 1-4 for rated fics.";
  }
.rdt_TableCol_Sortable.rdt_columnSortable[data-column-id="read"] + .rdt_filterContainer > .rdt_filterPanel::before {
    content: "Filtering: Select 0 for UNREAD fics, and 1 for READ";
  }
  