.btn-ghost {
    background: none;
    font-weight: 700;
    border-color: transparent;
}

.btn-ghost.btn-primary {
    color: rgba(var(--bs-primary-rgb), 1);
}

.btn-ghost.btn-primary:hover,
.btn-ghost.btn-primary:focus-visible,
.btn-ghost.btn-primary:active {
    background: rgba(var(--bs-primary-rgb), .2);
}

.btn-ghost.btn-primary:disabled,
.btn-ghost.btn-secondary:disabled,
.btn-ghost.btn-light:disabled,
.btn-ghost.btn-dark:disabled,
.btn-ghost.btn-success:disabled,
.btn-ghost.btn-warning:disabled,
.btn-ghost.btn-danger:disabled .btn-ghost.btn-info:disabled {
    opacity: .5;
    background: rgba(122, 122, 122, .2);
}

.btn-ghost.btn-secondary {
    color: rgba(var(--bs-secondary-rgb), 1);
}

.btn-ghost.btn-secondary:hover,
.btn-ghost.btn-secondary:focus-visible,
.btn-ghost.btn-secondary:active {
    background: rgba(var(--bs-secondary-rgb), .2);

}

.btn-ghost.btn-light {
    color: rgba(var(--bs-light-rgb), 1);
}

.btn-ghost.btn-light:hover,
.btn-ghost.btn-light:focus-visible,
.btn-ghost.btn-light:active {
    background: rgba(var(--bs-light-rgb), .2);
}

.btn-ghost.btn-dark {
    color: rgba(var(--bs-dark-rgb), 1);
}

.btn-ghost.btn-dark:hover,
.btn-ghost.btn-dark:focus-visible,
.btn-ghost.btn-dark:active {
    background: rgba(var(--bs-dark-rgb), .2);
}

.btn-ghost.btn-success {
    color: rgba(var(--bs-success-rgb), 1);
}

.btn-ghost.btn-success:hover,
.btn-ghost.btn-success:focus-visible,
.btn-ghost.btn-success:active {
    background: rgba(var(--bs-success-rgb), .2);
}

.btn-ghost.btn-warning {
    color: rgba(var(--bs-warning-rgb), 1);
}

.btn-ghost.btn-warning:hover,
.btn-ghost.btn-warning:focus-visible,
.btn-ghost.btn-warning:active {
    background: rgba(var(--bs-warning-rgb), .2);
}

.btn-ghost.btn-danger {
    color: rgba(var(--bs-danger-rgb), 1);
}

.btn-ghost.btn-danger:hover,
.btn-ghost.btn-danger:focus-visible,
.btn-ghost.btn-danger:active {
    background: rgba(var(--bs-danger-rgb), .2);
}

.btn-ghost.btn-info {
    color: rgba(var(--bs-info-rgb), 1);
}

.btn-ghost.btn-info:hover,
.btn-ghost.btn-info:focus-visible,
.btn-ghost.btn-info:active {
    background: rgba(var(--bs-info-rgb), .2);
}

.btn.btn-muted,
.badge.btn-muted {
    border:var(--bs-btn-border-width) solid transparent;
}


.btn-muted.btn-primary {
    background: rgba(var(--bs-primary-rgb), .2);
    color: rgba(var(--bs-primary-rgb), 1);
}

.btn-muted.btn-primary:hover,
.btn-muted.btn-primary:focus-visible,
.btn-muted.btn-primary:active {
    background: rgba(var(--bs-primary-rgb), .25);
    color: rgba(var(--bs-primary-rgb), 1);
}

.btn-muted.btn-primary:disabled {
    background: rgba(var(--bs-primary-rgb), .1);
    color: rgba(var(--bs-primary-rgb), .4);
}


.btn-muted.btn-secondary {
    background: rgba(var(--bs-secondary-rgb), .2);
    color: rgba(var(--bs-secondary-rgb), 1);
}

.btn-muted.btn-secondary:hover,
.btn-muted.btn-secondary:focus-visible,
.btn-muted.btn-secondary:active {
    background: rgba(var(--bs-secondary-rgb), .25);
    color: rgba(var(--bs-secondary-rgb), 1);
}

.btn-muted.btn-secondary:disabled {
    background: rgba(var(--bs-secondary-rgb), .1);
    color: rgba(var(--bs-secondary-rgb), .4);
}


.btn-muted.btn-light {
    background: rgba(var(--bs-light-rgb), .2);
    color: rgba(var(--bs-light-rgb), 1);
}

.btn-muted.btn-light:hover,
.btn-muted.btn-light:focus-visible,
.btn-muted.btn-light:active {
    background: rgba(var(--bs-light-rgb), .25);
    color: rgba(var(--bs-light-rgb), 1);
}

.btn-muted.btn-light:disabled {
    background: rgba(var(--bs-light-rgb), .1);
    color: rgba(var(--bs-light-rgb), .4);
}


.btn-muted.btn-dark {
    background: rgba(var(--bs-dark-rgb), .2);
    color: rgba(var(--bs-dark-rgb), 1);
}

.btn-muted.btn-dark:hover,
.btn-muted.btn-dark:focus-visible,
.btn-muted.btn-dark:active {
    background: rgba(var(--bs-dark-rgb), .25);
    color: rgba(var(--bs-dark-rgb), 1);
}

.btn-muted.btn-dark:disabled {
    background: rgba(var(--bs-dark-rgb), .1);
    color: rgba(var(--bs-dark-rgb), .4);
}


.btn-muted.btn-success {
    background: rgba(var(--bs-success-rgb), .2);
    color: rgba(var(--bs-success-rgb), 1);
}

.btn-muted.btn-success:hover,
.btn-muted.btn-success:focus-visible,
.btn-muted.btn-success:active {
    background: rgba(var(--bs-success-rgb), .25);
    color: rgba(var(--bs-success-rgb), 1);
}

.btn-muted.btn-success:disabled {
    background: rgba(var(--bs-success-rgb), .1);
    color: rgba(var(--bs-success-rgb), .4);
}

.btn-muted.btn-warning {
    background: rgba(var(--bs-warning-rgb), .2);
    color: rgba(var(--bs-warning-rgb), 1);
}

.btn-muted.btn-warning:hover,
.btn-muted.btn-warning:focus-visible,
.btn-muted.btn-warning:active {
    background: rgba(var(--bs-warning-rgb), .25);
    color: rgba(var(--bs-warning-rgb), 1);
}

.btn-muted.btn-warning:disabled {
    background: rgba(var(--bs-warning-rgb), .1);
    color: rgba(var(--bs-warning-rgb), .4);
}

.btn-muted.btn-danger {
    background: rgba(var(--bs-danger-rgb), .2);
    color: rgba(var(--bs-danger-rgb), 1);
}

.btn-muted.btn-danger:hover,
.btn-muted.btn-danger:focus-visible,
.btn-muted.btn-danger:active {
    background: rgba(var(--bs-danger-rgb), .25);
    color: rgba(var(--bs-danger-rgb), 1);
}

.btn-muted.btn-danger:disabled {
    background: rgba(var(--bs-danger-rgb), .1);
    color: rgba(var(--bs-danger-rgb), .4);
}

.btn-muted.btn-info {
    background: rgba(var(--bs-info-rgb), .2);
    color: rgba(var(--bs-info-rgb), 1);
}

.btn-muted.btn-info:hover,
.btn-muted.btn-info:focus-visible,
.btn-muted.btn-info:active {
    background: rgba(var(--bs-info-rgb), .25);
    color: rgba(var(--bs-info-rgb), 1);
}

.btn-muted.btn-info:disabled {
    background: rgba(var(--bs-info-rgb), .1);
    color: rgba(var(--bs-info-rgb), .4);
}

[data-bs-theme="dark"] .btn-muted{
    color:rgba(var(--bs-body-color-rgba), .8)!important
}