/* all table leements */
:root,
#fic-table {
    --rdt-cell-padding-x: 6px;
    --rdt-header-height: 36px;
    --rdt-color-text-primary: var(--color-foreground);
    --rdt-color-bg: var(--color-background);
    --rdt-color-header-bg: var(--color-background);
    --rdt-color-striped: var(--gs-100);
    --rdt-color-divider: var(--gs-200);
    --rdt-color-highlight: var(--gs-025);
    --rdt-color-selected: var(--gs-050);
    --rdt-border-radius: 8px;
    --rdt-font-size: 12px;
}
@media (prefers-color-scheme: dark){
    :root,
#fic-table {
    --rdt-color-scheme: dark;
    --rdt-color-striped: var(--gs-800);
    --rdt-color-striped-text: var(--color-foreground);
    --rdt-color-divider: var(--gs-700);
    --rdt-color-highlight: var(--gs-000);
    --rdt-color-highlight-text: var(--color-foreground);
    --rdt-color-selected: var(--gs-600);
    --rdt-color-selected-text: var(--color-foreground);
    --rdt-color-text-secondary: var(--gs-400);
    --rdt-color-btn: var(--gs-400);
}
}
.rdt_cellBaseHead[data-column-id="visit"] {
    padding-right: 18px;
  }
.rdt_TableCol_Sortable.rdt_columnSortable.rdt_columnSortableEnabled:hover span {
    opacity: .7 !Important;
}

#fic-table .rdt_filterContainer {
    position: absolute;
    right: 0;
    top: 0;
}
.rdt_TableCell a {
    color: var(--color-shadow);
}
@media (prefers-color-scheme: dark){
    .rdt_TableCell a,
    #fic-table .rdt_filterIcon,
    #fic-table .rdt_paginationButton,
    #fic-table .rdt_selectControl+svg {
        color: var(--gs-400);
    }
    .rdt_TableCell a:hover,
    #fic-table .rdt_filterIcon:hover,
    #fic-table .rdt_paginationButton:hover {
        color: var(--primary-400);
        border-color: var(--primary-400);
    }
    .rdt_cellBase,
    .rdt_pagination.rdt_Pagination{
        color:var(--gs-300)
    }
    .rdt_selectWrapper{
        overflow: visible;
  border-radius: 0;
  border: none;
    }
    #fic-table .rdt_filterInput,
    #fic-table .rdt_filterSelect,
    #fic-table .rdt_selectControl,
    #fic-table .rdt_editInput {
        color: var(--color-foreground);
        background: var(--color-inputs);
        -webkit-text-fill-color: var(--color-foreground);
    }
    #fic-table .rdt_selectControl option {
        color: var(--color-foreground);
        background: var(--color-inputs);
    }
    #fic-table .rdt_noData,
    #fic-table .rdt_noData *{
        color:var(--color-foreground)
    }
}
#fic-table .rdt_body,
#fic-table .rdt_row,
#fic-table .rdt_row .rdt_TableCell,
#fic-table .rdt_pagination,
#fic-table .rdt_noData{
    background-color: var(--color-background)!important;
    border-color: transparent;
}
#fic-table .rdt_rowStriped,
#fic-table .rdt_rowStriped .rdt_TableCell{
    background-color: rgba(var(--color-inputs-rgb),.5)!important;
}
/* stupid ass column filter labels */
.rdt_TableCol_Sortable.rdt_columnSortable[data-column-id="rating"] + .rdt_filterContainer > .rdt_filterPanel::before {
    content: "Filtering: Select 0 for unrated fics; -1 for blocked fics, and 1-4 for rated fics.";
  }
.rdt_TableCol_Sortable.rdt_columnSortable[data-column-id="read"] + .rdt_filterContainer > .rdt_filterPanel::before {
    content: "Filtering: Select 0 for UNREAD fics, and 1 for READ";
  }
  /* TODO darkmode filters */