.navbar {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.navbar>div {
  align-items: stretch;
  display: flex;
  flex-wrap: nowrap;
  font-weight: 500;
}

.navbar .navbar-brand {
  text-decoration: none;
  line-height: 1;
  flex: 1 0 auto;
}

.navbar .rightCol {
  align-items: flex-end;
  overflow: visible;
}