.read-button{
    background: transparent;
    border:none;
}
.read-button:hover svg *[fill="var(--color-foreground)"]{
    fill: var(--color-primary)
}
.read-button:hover svg *[fill="var(--color-background)"]{
    fill: rgba(var(--color-primary-rgb),.06)
}